/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}

/* GENERAL */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    transition: ease-in-out 0.2s;
}

html {
    background-color: white;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #2b3f6d;
    background-image: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
}

main {
    padding: 25px;
}

h1,
h2,
h3 {
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 700px;
}

section:first-of-type {
    margin-top: 0;
}

section:last-of-type {
    margin-bottom: 0;
}

section:nth-of-type(1)>img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2)>a::before {
    content: url("../assets/icons/link.svg");
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

section:nth-of-type(2)>a, section:nth-of-type(3)>a {
    text-decoration: underline transparent solid 1px;
}

section:nth-of-type(2)>a:hover, section:nth-of-type(3)>a:hover {
    text-decoration: underline gray solid 1px;
}

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

section:nth-of-type(3) a {
    margin-bottom: 5px;
}

section:nth-of-type(3) img {
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

section:nth-of-type(4) a {
    padding: 4px 8px;
    background-color: #ededed;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: default;
}

section:nth-of-type(4)>div {
    display: flex;
    flex-wrap: wrap;
}

/* ANIMATIONS */
section {
    animation: fadeIn 0.5s forwards;
    opacity: 0;
}

section:nth-of-type(1) {
    animation-delay: 0.1s;
}

section:nth-of-type(2) {
    animation-delay: 0.2s;
}

section:nth-of-type(3) {
    animation-delay: 0.3s;
}

section:nth-of-type(4) {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}