:root {
    --bg: #ffffff;
    --text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #0D0D0D;
        --text: #ffffff;
    }
}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    margin: 0;
    padding: 0;
    background: #A770EF;
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

main>div {
    border-radius: 15px;
    background-color: var(--bg);
    margin: 50px;
}

.controls {
    margin: 1rem 0;
}

input,
select,
button {
    margin: 0.5rem;
    padding: 0.4rem;
}

button {
    cursor: pointer;
}

#qr-code svg {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input,
    select,
    button {
        width: 100%;
        box-sizing: border-box;
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img#logoPreview {
        max-width: 80%;
    }
}